<ion-list-header color="light">Vertical Bar Chart</ion-list-header>
<ion-card>
  <ion-card-header>
    <ion-card-title>Historico: {{product.name}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <canvas #barCanvas></canvas>
  </ion-card-content>
</ion-card>
<ion-list-header color="light">Line Chart</ion-list-header>
<ion-card>
  <ion-card-header>
    <ion-card-title>Historico: {{product.name}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <canvas #lineCanvas></canvas>
  </ion-card-content>
</ion-card>