ion-img{
    margin-left: 21%;
    margin-top:  15%;
    width: 200px;
    height: 200px;
    border-radius: 25px;
}
.image{
    padding: 0px;

}

.top{
    border: 1px solid #1C6EA4;
    border-radius: 16px 16px 0px 0px;
}

.bottom{
    border: 1px solid #1C6EA4;
    border-radius: 0px 0px 16px 16px;
    
}
ion-item{
    border: 1px solid #1C6EA4;
}
ion-button{
    padding-left: 33%;
}
