<div class="card shadow" style="width: 18rem;" *ngIf="hide == false">
    <img class="card-img-top img-thumbnail" src="{{imageRoute}}" alt="{{imageRoute}}" (click) = 'navigate()' style="height: 286px; width: 286px"z>
    
    <div class="btn-group">
        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Opciones
        </button>
        <div class="dropdown-menu shadow"> 
          <a [routerLink] = '["/producto-editar",item.id]' class="dropdown-item" >Editar</a>
          <a [routerLink] = '["/producto-eliminar",item.id]' class="dropdown-item" >Eliminar</a>
        </div>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a class="card-title"  [routerLink] = '["/producto-detalles",item.id]'>{{item.name}}</a></li>
      <li class="list-group-item">Precio :  {{item.cost}}$</li>
    </ul>
</div>