<div class="card" style="width: 18rem;">
    <img class="card-img-top img-thumbnail" src="../assets/placeholder.png" alt="Card image cap">
    
    <div class="btn-group">
        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Opciones
        </button>
        <div class="dropdown-menu shadow"> 
          <a href="#" class="dropdown-item" >Editar</a>
          <a href="#" class="dropdown-item" >Eliminar</a>
        </div>
    </div>

    <div class="card-body">
      <h5 class="card-title">Nombre Producto</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Precio</li>
    </ul>
</div>