
<div class="container shadow">
    <h3 class="text-center p2">Editar Proucto</h3>
    <div class="row">
        <div class="col-8">
            <form class="p-2">
                <div class="form-row justify-content-center">
                    <div class="form-group col-md-5">
                      <label for="inputName">Nombre</label>
                      <input type="text" class="form-control" value="{{name}}" [(ngModel)]='name' [ngModelOptions] = '{standalone: true}'>
                    </div>
                    <div class="form-group col-md-3">
                      <label for="inputPrice">Precio</label>
                      <input type="number" class="form-control"  [(ngModel)]='cost' [ngModelOptions] = '{standalone: true}' value="{{cost}}">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputQuantity">Cantidad Stock</label>
                        <input type="number" class="form-control"  [(ngModel)]='quantity' [ngModelOptions] = '{standalone: true}' value="{{quantity}}">
                    </div>
                </div>
                  <div class="form-row  justify-content-center">
                    <div class="form-group col-md-6">
                        <label for="inputDescription">Descripcion</label>
                        <textarea type="text" class="form-control"  [(ngModel)]='description' [ngModelOptions] = '{standalone: true}' value = "{{description}}"></textarea>
                    </div>
                  </div>
                  <div class="form-row justify-content-center">
                    <div class="form-group col-md-6">
                        <label for="inputProviders">Provedor</label>
                            <div class="form-check">
                                <div *ngFor = 'let provider of providersList'>
                                    <input class="form-check-input" type="checkbox" value="" id = "{{provider.id}}"  (change)="checkBoxValue($event)"> 
                                    <label class="form-check-label">{{provider.name}}</label>
                                </div>
                            </div>   
                      </div>
                  </div>
            </form>
        </div>
        <div class="col-4 justify-content-center p-3">
            <img src="{{imageRoute}}" class="p3 img-thumbnail">
            <div class="btn btn-primary col-12 mt-3" >
                <span>Cambiar Imagen</span>
                <input type="file" (change) = "fileSelected($event.target.files)">
            </div>
        </div>
        <div  class="col p-3 justify-content-center d-flex">
            <input type="button" class="btn btn-primary" value="Aplicar Cambios" (click)="createProduct()"  data-toggle = "modal" data-target = "#model"> 



            <!-- MODAL -->
            <div class="modal fade" id="model" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Anuncio.</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Producto Editado con exito.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div> 
    </div>
</div>
